<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

    <nav>
        <div class="logo">My Portfolio</div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="{{ url_for('projects') }}" target="_blank">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="home" class="tab-content">
         <h1>Hello, I am Jessica Htet.</h1>
        <p>Welcome to my online portfolio website!</p>
    </section>

    <section id="about" class="tab-content">
        <h2>About Me</h2>
        <p class="about-text">I am an 8th grade student passionate about science and art. I also love solving problems and turning them into code. I am building this portfolio to share the projects I have created along my 6 years of programming. I hope you enjoy looking around!</p>
</p>

        <h3 class="skills-title">My Hobbies</h3>
        <div class="skills-container">
            <div class="skill-card">Programming</div>
            <div class="skill-card">Art</div>
            <div class="skill-card">Music</div>
            <div class="skill-card">Basketball</div>
        </div>
        <div class="awards-section">
             <h3>My Awards</h3> 
             <ul class="awards-list"> 
                <li>8th Place Globally for NEO STEM Olympiad</li> 
                <li>12th Place Globally for NEO STEM Olympiad</li> 
            </ul> 
        </div>
    </section>

    <section id="contact" class="tab-content">
        <h2>Contact Me</h2>
        <p>Email: thoonthadarhtet@gmail.com</p>
    </section>

</body>

</html>